<div class="item">
    <i class="large plus middle aligned icon"></i>
    <div class="content">
        <div class="header"></div>
        <div class="description">{{ event.actor.login }}  {{ format_date(event.created_at, 'n/j/y g:i A') }}</div>
    </div>
</div>
