<div class="meta" style="float: right">
    <img style="vertical-align: middle;" src="{{ event.actor.avatar_url }}" class="ui avatar image">
    <a style="vertical-align: middle;" class="primary link" target="_blank" href="https://github.com/{{ event.actor.login }}">{{ event.actor.login }}</a>
</div>