<div id="navigation" class="ui inverted large attached menu">
    <div class="ui wide container">
        <a href="/" class="logo item">
            <img src="/img/logo.png">
        </a>
        <a href="/docs" class="disabled item">Docs</a>
        <a href="/reference" class="disabled item">Class Reference</a>
        <a href="/packages" class="disabled item">Packages</a>
        <a href="/repositories" class="item">Repositories</a>
    </div>
</div>
