$red: #ff695e;
$redInverted: #db2828;
$orange: #ff851b;
$orangeInverted: #f2711c;
$yellow: #ffe21f;
$yellowInverted: #fbbd08;
$olive: #d9e778;
$oliveInverted: #b5cc18;
$green: #2ecc40;
$greenInverted: #21ba45;
$teal: #6dffff;
$tealInverted: #00b5ad;
$blue: #54c8ff;
$blueInverted: #2185d0;
$violet: #a291fb;
$violetInverted: #6435c9;
$purple: #dc73ff;
$purpleInverted: #a333c8;
$pink: #ff8edf;
$pinkInverted: #e03997;
$brown: #d67c1c;
$brownInverted: #a5673f;
$grey: #dcddde;
$greyInverted: #767676;
$black: #545454;
$blackInverted: #1b1c1d;

$primary: #8792bf;
$secondary: #141325;
